@import "tailwindcss";
@source "../../../../../libs/ui/components/**/*.{ts,tsx}";

@import "../../../../../libs/ui/tokens/globals.css";

@layer base {
	body {
		background-color: var(--background);
		color: var(--foreground);
		font-family: var(--font-sans);
	}
}
